<% url = post_path(:id => params[:id], validation: params[:validation]) if params[:validation] %>
<%= form_for(@post, url: url) do |f| %>
  <%= render "posts/form_error", :target => @post %>

  <div class="button-group">
    <% Post.post_types.keys.each do |post_type_name| %>
      <label>
        <%=
          f.radio_button(
            :post_type,
            post_type_name
          )
        %>
        <span class="button-group-item"><%= post_type_name.humanize %></span>
      </label>
    <% end %>
  </div>

  <p></p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <% unless request.original_url.include?("edit") %>
    <p>
      <%= f.label :email_confirmation %>
      <%= f.text_field :email_confirmation %>
    </p>
  <% end %>

  <p>
    <%= f.label :street, "Street (optional)"%>
    <%= f.text_field :street %>
  </p>

  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :country %>
    <%=
      f.country_select(
        :country,
        priority_countries: ["US"] # fuck imperialism but... convenience...
      )
    %>
  </p>

  <p>
    <%= f.label :state %>
    <%=
      f.subdivision_select(
        :state,
        f.object.country || "US",
        include_blank: true
      )
    %>
  </p>

  <p>
    <%= f.label :postal_code, "Zip Code / Postal Code (optional)" %>
    <%= f.text_field :postal_code %>
  </p>

  <p>
    <%= f.label :neighborhood , "Neighborhood (optional)"%>
    <%= f.text_field :neighborhood %>
  </p>

  <p>
    <%= f.label :description , "Description (optional)"%>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :accuracy %>

    <p class="accuracy-explanation">
      We'll show a map with your location. Rather than showing your actual address, we display a circle, to protect your privacy. We recommend using a higher accuracy for cities, and a lower accuracy for rural areas.
    </p>

    <% Post::ACCURACIES.each do |name, meters| %>
      <div>
        <%= f.label :accuracy, "#{name} (#{meters} meters)", value: meters %>
        <%= f.radio_button :accuracy, meters, checked: name == "Medium" %>
      </div>
    <% end %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
