<% url = post_path(:id => params[:id], validation: params[:validation]) if params[:validation] %>
<%= form_for(@post, url: url) do |f| %>
  <%= render "posts/form_error", :target => @post %>
  <div class="button-group">
    <label>
      <%=
        f.radio_button(
          :post_type,
          :needed,
          checked: true
        )
      %>
      <span class="button-group-item">Needed</span>
    </label><label>
      <%=
        f.radio_button(
          :post_type,
          :available
        )
      %>
      <span class="button-group-item">Available</span>
    </label>
  </div>
  <p></p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <% unless request.original_url.include?("edit") %>
  <p>
    <%= f.label :email_confirmation %>
    <%= f.text_field :email_confirmation %>
  </p>
  <% end %>

  <p>
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </p>

  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :country %><br>
    <%=
      f.country_select(
        :country,
        priority_countries: ["US"] # fuck imperialism but... convenience...
      )
    %>
  </p>

  <p>
    <%= f.label :state %><br>
    <%=
      f.subdivision_select(
        :state,
        f.object.country || "US",
        include_blank: true
      )
    %>
  </p>

  <p>
    <%= f.label :postal_code, "Zip Code / Postal Code" %><br>
    <%= f.text_field :postal_code %>
  </p>

  <p>
    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :accuracy %><br>

    <div>
      <%= f.label :accuracy, "High", value: 100 %>
      <%= f.radio_button :accuracy, 100 %>
    </div>

    <div>
      <%= f.label :accuracy, "Medium", value: 1000 %>
      <%= f.radio_button :accuracy, 1000, checked: true %>
    </div>

    <div>
      <%= f.label :accuracy, "Low", value: 10000 %>
      <%= f.radio_button :accuracy, 10000 %>
    </div>

  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
