<%= form_tag(posts_path, method: "get", class: "search-form") do %>

  <div class="button-group">
    <label>
      <%=
        radio_button_tag(
          :type,
          :needed,
          params[:type] == "needed"
        )
      %>
      <span class="button-group-item">Needed</span>
    </label><label>
      <%=
        radio_button_tag(
          :type,
          :available,
          params[:type] != "needed"
        )
      %>
      <span class="button-group-item">Available</span>
    </label>
  </div>

  <div class="search-field">
    <%=
      search_field_tag(
        :query,
        params["query"],
        placeholder: "Search Housing Posts",
        class: "search-field"
      )
    %>
    <%=
      search_field_tag(
        :location,
        params["location"],
        placeholder: "Location",
        class: "search-field"
      )
    %>
  </div>

  <%= submit_tag "Search", class: "search-submit" %>
<% end %>
