<%= form_tag(posts_path, method: "get", class: "search_form") do %>

  <div>
    <%=
      search_field_tag(
        :query,
        params["query"],
        placeholder: "Search Housing Posts",
        class: "search_field"
      )
    %>

    <%=
      search_field_tag(
        :location,
        params["location"],
        placeholder: "Location",
        class: "search_field"
      )
    %>
  </div>

  <div>

    <%= label_tag :type, "Housing Needed" %>
    <%=
      radio_button_tag(
        :type,
        :needed,
        params[:type] == "needed"
      )
    %>

    <%=
      radio_button_tag(
        :type,
        :available,
        params[:type] != "needed"
      )
    %>
    <%= label_tag :type, "Housing Available", class: "search_submit"%>

  </div>

  <%= submit_tag "Search", class: "search_submit" %>
<% end %>
