<section>
  <%= render "posts/search_form" %>
</section>

<section>
  <ul class="posts">
    <% @posts.each do |post| %>
      <li class="post">
        <%= link_to(post) do %>
          <div class="title">
            <%= post.title %>
          </div>
        <% end %>

        <div class="body">
          <div>
            <%= post.city %>, <%= post.state %>
          </div>

          <div>
            <%= post.neighborhood %>
          </div>
        </div>
      </li>
    <% end %>
    <% if @posts.empty? %>
      Sorry, there were no results for your search :(
    <% end %>
  </ul>
</section>
