<h1>
  <%= @post.title %>
</h1>

<div class="info">
  <div class="description">
    <%= @post.description %>
  </div>

  <div class="city">
    <%= @post.city %>
  </div>

  <div class="state">
    <%= @post.state %>
  </div>

  <div class="neighborhood">
    <%= @post.neighborhood %>
  </div>

  <div class="country">
    <%= @post.country %>
  </div>
</div>

<div id="map"
     class="map"
     data-latitude="<%= @post.latitude.round(2) %>"
     data-longitude="<%= @post.longitude.round(2) %>">
  <%# Filled in via JS with leaflet %>
</div>
