<h1>
  <%= @post.title %>
</h1>

<div class="info">
  <div>
    <%= @post.city %>
  </div>

  <div>
    <%= @post.state %>
  </div>

  <div>
    <%= @post.postal_code %>
  </div>

  <div>
    <%= @post.neighborhood %>
  </div>

  <div>
    <%= @post.country %>
  </div>

  <div class="description">
    <%= @post.description %>
  </div>
</div>

<div id="map" class="map">
  <%# Filled in via JS with leaflet %>
</div>
