<footer>
  <div class="social-icons">
    <%=
      link_to(
        "",
        "https://github.com/RefugeRestrooms/refuge_housing",
        class: "icon-github",
        title: "Refuge on GitHub"
      )
    %>

    <%=
      link_to(
        "",
        "https://twitter.com/refugerestrooms",
        class: "icon-twitter",
        title: "Refuge on Twitter"
      )
    %>

    <%=
      link_to(
        "",
        "https://facebook.com/refugerestrooms",
        class: "icon-facebook",
        title: "Refuge on Facebook"
      )
    %>

    <%=
      link_to(
        "",
        "https://blog.refugerestrooms.com/",
        class: "icon-tumblr",
        title: "Refuge on Tumblr (our blog)"
      )
    %>

    <%=
      link_to(
        "",
        contact_path,
        class: "icon-email",
        title: "Email Refuge"
      )
    %>
  </div>

  <div class="copyleft">
    &copy; copyleft <%= Date.today.year %> refuge housing
  </div>
</footer>
