<footer>
  <div class="footer">
    <a class="iconLink" href="https://github.com/RefugeRestrooms/refuge_housing">
      <img alt="Refuge Housing on github" class="icon iconGitHub" src="<%= asset_path("clear.png") %>"/>
    </a>
    <a class="iconLink" href="https://twitter.com/refugerestrooms">
      <img alt="Refuge on twitter" class="icon iconTwitter" src="<%= asset_path("clear.png") %>"/>
    </a>
    <a class="iconLink" href="https://www.facebook.com/refugerestrooms">
      <img alt="Refuge on facebook" class="icon iconFacebook" src="<%= asset_path("clear.png") %>"/>
    </a>
    <a class="iconLink" href="http://blog.refugerestrooms.org/">
      <img alt="Refuge's blog on tumblr" class="icon iconTumblr" src="<%= asset_path("clear.png") %>"/>
    </a>
    <a class="iconLink" href="<%= contact_path %>">
      <img alt="Email Us" class="icon iconEmail" src="<%= asset_path("clear.png") %>"/>
    </a>
    <br/>
    <%= "\&copy; copyleft #{Date.today.year} refuge housing.".html_safe %>
  </div>
</footer>
